# Ignore environment variable files
.env
.env.test

# Python artifacts
__pycache__/
*.py[cod]
*.sqlite3

# System files
.DS_Store

# VSCode
.vscode/

# Logs
*.log

# Docker volumes (optional)
vector_db_data/